// base
$font-family: "Open Sans", sans-serif;
$font-family-second: ;
$content-width: 1170px;
$container-offset: 15px;
$container-width: $ontent-width + ($container-offset * 2);

// background colors
